/* ========== TYPOGRAPHY ========== */

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

/* ========== GENERAL SELECTORS ========== */

html {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: black;
	color: white;
}

/* ========== MAIN SECTION ========== */

main {
	border: 1px solid #ffffff6b;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	height: 580px;
}

@media (min-width: 441px) {
	main {
		height: 600px;
	}
}

@media (min-width: 740px) {
	main {
		background-color: #313131;
		height: 825px;
		border: 0;
	}
}

main > .container {
	width: 90%;
	margin: 0 auto;
	padding-top: 0.5rem;
}

@media (min-width: 740px) {
	main > .container > .container {
		width: 450px;
		height: 650px;
		margin: 1rem auto;
		padding: 2rem 4rem;
		background-color: #0000009e;
	}
}

main .container > h1 {
	font-weight: normal;
	margin-top: 1.5rem;
}


main a#need-help {
	font-size: 0.8em;
	float: right;
	color: #ffffffa8;
}

main .container > article {
	margin-top: 1rem;
}

main article#new-to {
	color: #ffffff6b;
}

@media (min-width: 419px) {
	main article#new-to {
		margin-top: 2rem;
	}
}

@media (min-width: 527px) {
	main article#new-to {
		margin-top: 3rem;
	}
}

@media (min-width: 614px) {
	main article#new-to {
		margin-top: 4rem;
	}
}

@media (min-width: 688px) {
	main article#new-to {
		margin-top: 5rem;
	}
}

main article#google-recaptcha {
	font-size: 0.8em;
	color: #ffffff91;
}

main article#google-recaptcha a {
	color: #0071eb;
}

/* ========== FOOTER ========== */

footer {
	width: 90%;
	margin: 2rem auto;
}

@media (min-width: 1150px) {
	footer {
		width: 1000px;
	}
}

footer,
footer a {
	color: #ffffff6b;
}

footer a {
	font-size: 0.8em;
}

footer > article {
	margin-top: 0.5rem;
}

footer article#phone-number {
	font-size: 1em;
}

footer ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

footer ul li {
	margin-top: 1rem;
	width: 50%;
}

@media (min-width: 501px) {
	footer ul li {
		width: 33%;
	}
}

@media (min-width: 741px) {
	footer ul li {
		width: 25%;
	}
}

footer article#copyright {
	text-align: center;
	margin-top: 2rem;
}

/* ========== THE END ========== */