* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

header {
	margin: 1rem 0.5rem;
}

nav #logo {
	font-size: 20px;
	font-weight: bold;
	color: #e50914;
}

main {
	padding: 1rem;
	border: 1px solid #ffffff6b;
	border-left: 0;
	border-top: 0;
	border-right: 0;
}

main > h1 {
	font-weight: normal;
}

main > form {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
}

.form-input {
	margin-top: 0.5rem;
}

.form-input.core {
	position: relative;
	margin-top: 1rem;
}

.form-input.core > input {
	width: 90%;
	padding: 1.3rem 1rem 1rem 1rem;
	background-color: #80808070;
	border: 0;
	border-radius: 0.25rem;
	outline: none;
	caret-color: white;
	color: white;
	font-size: 1em;
}
.form-input.core > input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #5b5959 inset !important;
}

.form-input.core.focused > input {
	background-color: #808080a8;
}

.form-input.core > label {
	position: absolute;
	color: #ffffff70;
	font-size: 0.9em;
	top: 30%;
	left: 5%;
	transition: all 0.1s linear;
}

.form-input.core.focused > label {
	font-size: 0.6em;
	top: 15%;
}

.form-input.submit {
	margin-top: 2rem;
}

.form-input.submit > input {
	width: 100%;
	background-color: #e50914;
	color: white;
	border: 0;
	padding: 1rem;
	border-radius: 0.25rem;
	font-size: 1em;
	cursor: pointer;
}

/* Custom checkbox container */
.checkbox-container {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  font-size: 0.9em;
  color: #ffffffa8;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #808080a8;
  border-radius: 0.25rem;
}

/* On mouse-over, add a grey background color */
/*.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
/*.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

a#need-help {
	font-size: 0.9em;
	float: right;
	color: #ffffffa8;
}

main > article {
	margin-top: 1rem;
}

article#new-to {
	color: #ffffff6b;
}

article#google-recaptcha {
	font-size: 0.8em;
	color: #ffffff91;
	margin-bottom: 5rem;
}

article#google-recaptcha a {
	color: #0071eb;
}

footer {
	padding: 1rem;
}

footer,
footer a {
	color: #ffffff6b;
}

footer a {
	font-size: 0.9em;
}

footer > article {
	margin-top: 0.5rem;
}

footer article#phone-number {
	font-size: 1.1em;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin-top: 0.5rem;
}

footer article#copyright {
	text-align: center;
	margin-top: 1rem;
}