html {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: black;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

main {
	border: 1px solid #ffffff6b;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	height: 580px;
}

@media (min-width: 441px) {
	main {
		height: 600px;
	}
}

@media (min-width: 740px) {
	main {
		background-color: #313131;
		height: 825px;
		border: 0;
	}
}

main > .container {
	width: 90%;
	margin: 0 auto;
	padding-top: 0.5rem;
}

@media (min-width: 740px) {
	main > .container > .container {
		width: 450px;
		height: 650px;
		margin: 1rem auto;
		padding: 2rem 4rem;
		background-color: #0000009e;
	}
}

#logo {
	font-size: 20px;
	font-weight: bold;
	color: #e50914;
}

#logo:hover {
	text-decoration: none;
}

@media (min-width: 441px) {
	#logo {
		font-size: 40px;
	}
}

main .container > h1 {
	font-weight: normal;
	margin-top: 1.5rem;
}

main .container > form {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .form-input {
	margin-top: 0.5rem;
}

main .form-input.core {
	position: relative;
	margin-top: 1rem;
}

main .form-input.core > input {
	width: 100%;
	padding: 1.3rem 1rem 1rem 1rem;
	background-color: #80808070;
	border: 0;
	border-radius: 0.25rem;
	outline: none;
	caret-color: white;
	color: white;
	font-size: 1em;
}

.form-input.core > input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #5b5959 inset !important;
}

.form-input.core.focused > input {
	background-color: #808080a8;
}

.form-input.core > label {
	position: absolute;
	color: #ffffff70;
	font-size: 0.9em;
	top: 20px;
	left: 20px;
	transition: all 0.1s linear;
}

.form-input.core.focused > label {
	font-size: 0.6em;
	top: 10px;
	left: 15px;
}

.form-input.submit {
	margin-top: 2rem;
}

.form-input.submit > input {
	width: 100%;
	background-color: #e50914;
	color: white;
	border: 0;
	padding: 1rem;
	border-radius: 0.25rem;
	font-size: 1em;
	cursor: pointer;
}

/* Custom checkbox container */
.checkbox-container {
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  font-size: 0.8em;
  color: #ffffffa8;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #808080a8;
  border-radius: 0.25rem;
  box-sizing: initial;
}

/* On mouse-over, add a grey background color */
/*.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}*/

/* When the checkbox is checked, add a blue background */
/*.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}*/

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

main a#need-help {
	font-size: 0.8em;
	float: right;
	color: #ffffffa8;
}

main .container > article {
	margin-top: 1rem;
}

main article#new-to {
	color: #ffffff6b;
}

@media (min-width: 419px) {
	main article#new-to {
		margin-top: 2rem;
	}
}

@media (min-width: 527px) {
	main article#new-to {
		margin-top: 3rem;
	}
}

@media (min-width: 614px) {
	main article#new-to {
		margin-top: 4rem;
	}
}

@media (min-width: 688px) {
	main article#new-to {
		margin-top: 5rem;
	}
}

main article#google-recaptcha {
	font-size: 0.8em;
	color: #ffffff91;
}

main article#google-recaptcha a {
	color: #0071eb;
}

footer {
	width: 90%;
	margin: 2rem auto;
}

@media (min-width: 1150px) {
	footer {
		width: 1000px;
	}
}

footer,
footer a {
	color: #ffffff6b;
}

footer a {
	font-size: 0.8em;
}

footer > article {
	margin-top: 0.5rem;
}

footer article#phone-number {
	font-size: 1em;
}

footer ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

footer ul li {
	margin-top: 1rem;
	width: 50%;
}

@media (min-width: 501px) {
	footer ul li {
		width: 33%;
	}
}

@media (min-width: 741px) {
	footer ul li {
		width: 25%;
	}
}

footer article#copyright {
	text-align: center;
	margin-top: 2rem;
}